# chezmoi configuration data

# Default enable flags to false
{{- $enableHyprland := false }}
{{- $enableWofi := false }}
{{- $enableWaybar := false }}
{{- $enableMako := false }}

{{- if eq .chezmoi.os "darwin"}}

#APPLE
  {{- $enableHyprland := false}}
[data]
  enableHyprland = {{ $enableHyprland }}
  enableWofi = {{ $enableWofi }}
  enableWaybar = {{ $enableWaybar}}
  enableMako = {{ $enableMako}}

{{- else if eq .chezmoi.os "linux" }}

#LINUX
  {{- $enableHyprland := true -}}
  {{ $enableWofi := true -}}
  {{ $enableWaybar := true -}}
  {{ $enableMako := true -}}

  {{ $wallpaper1:= promptString "path to wallpaper one" -}}
  {{ $wallpaper2:= promptString "path to wallpaper two" }}

[data]
  wallpaper1 = {{ $wallpaper1 | quote }}
  wallpaper2 = {{ $wallpaper2 | quote }}
  enableHyprland = {{ $enableHyprland }}
  enableWofi = {{ $enableWofi }}
  enableWaybar = {{ $enableWaybar}}
  enableMako = {{ $enableMako}}


{{- end -}}

  
