# chezmoi configuration data

{{- /* OS helpers */ -}}
{{- $isDarwin := eq .chezmoi.os "darwin" -}}
{{- $isLinux := eq .chezmoi.os "linux" -}}

{{- /* Disable linux tools by default */ -}}
{{- /* These are used to conditionally ignore files in .chezmoiignore */ -}}
{{- $enableHyprland := false -}}
{{- $enableWofi := false -}}
{{- $enableWaybar := false -}}
{{- $enableMako := false -}}
{{- $enableNiri := false -}}
{{- $enableFuzzel := false -}}
{{- $enableWpaperd := false -}}


{{- if $isLinux -}}
  {{- $enableHyprland = true -}}
  {{- $enableWofi = true -}}
  {{- $enableWaybar = true -}}
  {{- $enableMako = true -}}
  {{- $enableNiri = true -}}
  {{- $enableFuzzel = true -}}
  {{- $enableWpaperd = true -}}
{{- end -}}

{{- $gitPersonalEmail := promptStringOnce . "gitPersonalEmail" "Enter your personal Git email" -}}
{{- $gitPersonalName := promptStringOnce . "gitPersonalName" "Enter your personal Git name" }}

{{- /* Work git identity only on macOS */ -}}
{{- $gitWorkEmail := "" -}}
{{- $gitWorkName := "" -}}
{{- if $isDarwin -}}
  {{- $gitWorkEmail = promptStringOnce . "gitWorkEmail" "Enter your work Git email" -}}
  {{- $gitWorkName = promptStringOnce . "gitWorkName" "Enter your work Git name" -}}
{{- end -}}

{{- /* Wallpapers and hyprlock only on Linux */ -}}
{{- $wallpaper1 := "" -}}
{{- $wallpaper2 := "" -}}
{{- $hyprlock_wallpaper := "" -}}
{{- if $isLinux -}}
  {{- $wallpaper1 = promptStringOnce . "wallpaper1" "path to wallpaper one" -}}
  {{- $wallpaper2 = promptStringOnce . "wallpaper2" "path to wallpaper two" -}}
  {{- if eq .chezmoi.hostname "endeavouros" -}}
    {{- $hyprlock_wallpaper = promptStringOnce . "hyprlock_wallpaper" "path to hyprlock wallpaper" -}}
  {{- else -}}
    {{- $hyprlock_wallpaper = $wallpaper1 -}}
  {{- end -}}
{{- end }}

[data]
    gitPersonalEmail = {{ $gitPersonalEmail | quote }}
    gitPersonalName = {{ $gitPersonalName | quote }}
    
    enableHyprland = {{ $enableHyprland }}
    enableWofi = {{ $enableWofi }}
    enableWaybar = {{ $enableWaybar }}
    enableMako = {{ $enableMako }}
    enableNiri = {{ $enableNiri }}
    enableFuzzel = {{ $enableFuzzel }}
    enableWpaperd = {{ $enableWpaperd }}
    
    {{- if $isDarwin }}
    gitWorkEmail = {{ $gitWorkEmail | quote }}
    gitWorkName = {{ $gitWorkName | quote }}
    {{- end }}
    
    {{- if $isLinux }}
    wallpaper1 = {{ $wallpaper1 | quote }}
    wallpaper2 = {{ $wallpaper2 | quote }}
    hyprlock_wallpaper = {{ $hyprlock_wallpaper | quote }}
    {{- end }}

