* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: Symbols Nerd Font,FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
}


/* color variables */
@define-color widget-background-color #2980b9;
@define-color widget-background-color #2980b9;
@define-color widget-font-color #ffffff;


window#waybar {
    /*background-color: rgba(43, 48, 59, 0.5);*/
    background-color: rgba(43, 48, 59, 0);
    /*border-bottom: 3px solid rgba(100, 114, 125, 0.5);*/
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

#window {
    background-color: @widget-background-color;
    margin: 5px;
    padding: 0 10px;
    border-radius: 5px;
}
window#waybar.empty #window {
    background-color: transparent;
}

window#waybar.hidden {
    opacity: 0.2;
}


window#waybar.empty {
    background-color: transparent;
}

/*
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}


button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 5px;
    margin: 5px;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    background-color: @widget-background-color;
    opacity: 0.6;
    color: #ffffff;
}

#workspaces button:hover {
    /* background: rgba(0, 0, 0, 0.2); */
    opacity: 0.9;
}

#workspaces button.active {
    /*background-color: #64727D;*/
    background-color: #000;
    background-color: @widget-background-color;
    opacity: 1;
    box-shadow: inset 0 -3px #ffffff;
}

/*
#workspaces button.focused {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}*/

#workspaces button.urgent {
    background-color: #eb4d4b;
}




#mode {
    background-color: #64727D;
    border-bottom: 3px solid #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#mpd {
    padding: 0 10px;
    margin: 5px;
    color: @widget-font-color;
    background-color: @widget-background-color;
    border-radius: 5px;
}



#workspaces {
    margin: 5px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left>widget:first-child>#workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right>widget:last-child>#workspaces {
    margin-right: 0;
}

#clock {
    /* background-color: #64727D; */
}

#battery {
    /* background-color: #ffffff;
    background-color: #64727D;
    color: #000000; */
}

#battery.charging,
#battery.plugged {
    /* color: #ffffff;
    background-color: #26A65B;
    background-color: #64727D; */
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#cpu {
    /* background-color: #2ecc71;
    color: #000000;
    background-color: #64727D; */
}

#memory {
    /* background-color: #9b59b6;
    background-color: #64727D; */
}

#disk {
    /* background-color: #964B00;
    background-color: #64727D; */
}

#backlight {
    /* background-color: #90b1b1;
    background-color: #64727D; */
}

#network {
    /* background-color: #2980b9;
    background-color: #64727D; */
}

#network.disconnected {
    /* background-color: #f53c3c;
    background-color: #64727D; */
}

#pulseaudio {
    /* background-color: #f1c40f;
    color: #000000;
    background-color: #64727D; */
}

#pulseaudio.muted {
    /* background-color: #90b1b1;
    color: #2a5c45;
    background-color: #64727D; */
}

#wireplumber {
    /* background-color: #fff0f5;
    color: #000000;
    background-color: #64727D; */
}

#wireplumber.muted {
    /* background-color: #f53c3c; */
}

#custom-media {
    /* background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
    background-color: #64727D; */
}

#custom-media.custom-spotify {
    /* background-color: #66cc99;
    background-color: #64727D; */
}

#custom-media.custom-vlc {
    /* background-color: #ffa000;
    background-color: #64727D; */
}

#temperature {
    /* background-color: #f0932b;
    background-color: #64727D; */
}

#temperature.critical {
    background-color: #eb4d4b;
}

#tray {
    /* background-color: #2980b9;
    background-color: #64727D; */
}

#tray>.passive {
    -gtk-icon-effect: dim;
}

#tray>.needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#idle_inhibitor {
    background-color: #2d3436;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

#mpd {
    /* background-color: #66cc99;
    color: #2a5c45;
    background-color: #64727D; */
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

#language {
    /* background: #00b093; */
    /* color: #740864; */
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    /* background: #97e1ad; */
    /* color: #000000; */
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state>label {
    padding: 0 5px;
}

#keyboard-state>label.locked {
    /* background: rgba(0, 0, 0, 0.2); */
}

#scratchpad {
    /* background: rgba(0, 0, 0, 0.2);
    background-color: #64727D; */
}

#scratchpad.empty {
    background-color: transparent;
}
