# Wallpaper configuration for each monitor
wallpaper {
    monitor = DP-1
    path = {{ .wallpaper1 }}
    fit_mode = contain
}

wallpaper {
    monitor = DP-3
    path = {{ .wallpaper2 }}
    fit_mode = contain
}

# Disable the splash messages
splash = false
