// Dotfiles management layout for chezmoi
layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        children
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }

    tab name="Dotfiles" focus=true {
        pane split_direction="vertical" {
            pane name="Editor" size="60%" focus=true
            pane split_direction="horizontal" {
                pane name="Chezmoi Status" {
                    command "watch"
                    args "-n" "30" "chezmoi" "status"
                }
                pane name="Terminal" size="80%" 
            }
        }
    }

    tab name="Chezmoi" {
        pane split_direction="horizontal" {
            pane name="Diff" {
                command "chezmoi"
                args "diff"
            }
            pane split_direction="vertical" {
                pane name="Managed" {
                    command "chezmoi"
                    args "managed"
                }
                pane name="Data" {
                    command "chezmoi"
                    args "data"
                }
            }
        }
    }

    {{ template "zellij-git-tab.tmpl" . }}

    {{ template "zellij-swap-stacked-panes.tmpl" . }}
    {{ template "zellij-swap-floating.tmpl" . }}
    {{ template "zellij-swap-floating-stacked.tmpl" . }}
    {{ template "zellij-swap-floating-corners.tmpl" . }}
}
