// General project layout with flexible panes
layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        children
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }

    tab name="Project" focus=true {
        pane split_direction="vertical" {
            pane name="Main" size="60%" focus=true
            pane split_direction="horizontal" {
                pane name="Secondary" size="50%"
                pane name="Utility" size="50%"
            }
        }
    }

    tab name="Terminal" {
        pane split_direction="horizontal" {
            pane name="Shell 1" size="50%"
            pane name="Shell 2" size="50%"
        }
    }

    tab name="Files" {
        pane split_direction="vertical" {
            pane name="File Browser" {
                command "yazi"
            }
        }
    }

    {{ template "zellij-git-tab.tmpl" . }}

    {{ template "zellij-monitoring-tab.tmpl" . }}

    tab name="Notes" {
        pane name="Scratch Pad"
    }

    {{ template "zellij-swap-stacked-panes.tmpl" . }}
    {{ template "zellij-swap-floating.tmpl" . }}
    {{ template "zellij-swap-floating-stacked.tmpl" . }}
    {{ template "zellij-swap-floating-corners.tmpl" . }}
}
