[
{{- if eq .chezmoi.os "darwin" }}
    {
        "key": "cmd+p",
        "command": "quickOpen"
    }
{{- else if eq .chezmoi.os "linux" }}
    {
        "key": "ctrl+p",
        "command": "quickOpen"
    },
    {
        "key": "n",
        "command": "cursorLeft",
        "when": "editorTextFocus && !suggestWidgetVisible"
    },
    {
        "key": "e",
        "command": "cursorDown",
        "when": "editorTextFocus && !suggestWidgetVisible"
    },
    {
        "key": "i",
        "command": "cursorUp",
        "when": "editorTextFocus && !suggestWidgetVisible"
    },
    {
        "key": "o",
        "command": "cursorRight",
        "when": "editorTextFocus && !suggestWidgetVisible"
    }
{{- end }}
]
