    // Define stacked floating swap layout with panes stacked vertically
    swap_floating_layout name="floating-stacked" {
        floating_panes max_panes=1 {
            pane
        }
        floating_panes max_panes=2 {
            pane x="10%" y="10%" width="80%" height="35%"
            pane x="10%" y="55%" width="80%" height="35%"
        }
        floating_panes max_panes=3 {
            pane x="10%" y="10%" width="80%" height="25%"
            pane x="10%" y="37%" width="80%" height="25%"
            pane x="10%" y="65%" width="80%" height="25%"
        }
        floating_panes max_panes=4 {
            pane x="10%" y="5%" width="80%" height="20%"
            pane x="10%" y="28%" width="80%" height="20%"
            pane x="10%" y="51%" width="80%" height="20%"
            pane x="10%" y="74%" width="80%" height="20%"
        }
    }
